<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/minimum.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/merifile.css' %}">
    {% block header %} {% endblock header %}


<!--  if you wanna get rid of favicon just delete these 4 links and delete the favicon file in static/images  -->
<!--    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">-->
<!--    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}">-->
<!--    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}">-->
<!--    <link rel="manifest" href="{% static 'images/favicon_io/site.webmanifest' %}">-->


	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- <meta name='description' content='Search the world’s information, including web pages, images, videos and more. Google has many special features to help you find exactly what you’re looking for.'> -->
	<title>UnveilSale</title>
    <script type="text/javascript">
        var user = '{{ request.user }}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
</head>
<body>
	<header>

		<!-- this is the stuff for the main nav bar -->
        <div class="navbar-fixed">
            <nav class="z-depth-3 backcolor-primary-scheme">
                <div class="nav-wrapper container">
                    <a href="{% url 'homepage' %}" class="brand-logo" title="Homepage">UnveilSale</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        {% if user.is_authenticated %}
                            {% block modalname %}{% endblock modalname %}
                            <li><a class="waves-effect waves-dark modal-trigger btn-flat white-text backcolor-secondary-scheme" data-target="cart" title="Cart">Cart<i class="material-icons left" >shopping_cart</i><span class="badge white-text">0</span></a></li>
                            <li><a class="dropdown-trigger waves-effect waves-dark btn-flat white-text backcolor-secondary-scheme" data-target="dropdown1" title="Account"><i class="material-icons left">account_box</i>{{ user.username }}</a></li>
                        {% else %}
                            <li><a class="waves-effect waves-dark modal-trigger btn-flat white-text backcolor-secondary-scheme" data-target="cart" title="Cart">Cart<i class="material-icons left" >shopping_cart</i><span class="badge white-text">0</span></a></li>
                            <li><a href="{% url 'loginpage' %}" class="btn-flat white-text backcolor-secondary-scheme">Login</a></li>
                            <li><a href="{% url 'registerpage' %}" class="btn-flat white-text backcolor-secondary-scheme">Register</a></li>
                            <li><a data-target="aboutmodal" class="btn-flat white-text backcolor-secondary-scheme modal-trigger">About</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% if user.is_authenticated %}
                    <ul id="dropdown1" class="dropdown-content backcolor-primary-scheme">
                        <li><a href="{% url 'profilepage' %}" class="white-text">Profile</a></li>
                        <li><a href="#" class="white-text">Settings</a></li>
                        <li><a href="{% url 'bookmarks' %}" class="white-text">Bookmarks</a></li>
                        <li><a href="{% url 'donations' %}" class="white-text">Donate</a></li>
                        <li><a href="#aboutmodal" class="white-text modal-trigger">About</a></li>
                        <li class="divider backcolor-secondary-scheme"></li>
                        <li><a href="{% url 'logoutpage' %}" class="white-text">Logout</a></li>
                    </ul>
                {% endif %}
            </nav>
        </div>


        <!-- This is the the stuff in the side nav bar -->
        <ul class="sidenav" id="mobile-nav">
            {% if user.is_authenticated %}
                {% block sidemodalname %}{% endblock sidemodalname %}
                <li><a class="waves-effect waves-dark modal-trigger" href="#cart" title="Cart"><i class="material-icons">shopping_cart</i>Cart<span class="badge badge-sidenav">0</span></a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><i class="material-icons">account_box</i>{{ user.username }}</a></li>
            {% else %}
                <li><a class="waves-effect waves-dark" href="{% url 'loginpage' %}">Login</a></li>
                <li class="divider"></li>
                <li><a class="waves-effect waves-dark" href="{% url 'registerpage' %}">Register</a></li>
                <li class="divider"></li>
                <li><a class="waves-effect waves-dark modal-trigger" data-target="aboutmodal">About</a></li>
                <li class="divider"></li>
                <li><a class="waves-effect waves-dark modal-trigger" href="#cart" title="Cart"><i class="material-icons">shopping_cart</i>Cart<span class="badge badge-sidenav">0</span></a></li>
                <li class="divider"></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="{% url 'profilepage' %}" class="">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{% url 'bookmarks' %}">Bookmarks</a></li>
                <li><a href="{% url 'donations' %}">Donate</a></li>
                <li><a href="#aboutmodal" class="modal-trigger">About</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logoutpage' %}">Logout</a></li>
            </ul>
        {% endif %}

        <!-- Cart Modal Structure -->
        <div id="cart" class="modal modal-fixed-footer">
            <div class="modal-content">
                <span class="header center"><h3 class="cart-total-price">Cart is empty</h3></span>
                <div class="collection cart-items">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-purchase waves-effect waves-light btn-flat backcolor-primary-scheme left"><b class="white-text">Clear Cart</b></button>
                <button class="modal-close waves-effect waves-dark btn-flat backcolor-secondary-scheme"><b class="white-text">Exit</b></button>
            </div>
        </div>

        {% block modal %}
        {% endblock modal %}

        <!-- About Modal Structure -->
        <div id="aboutmodal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h3 class="header center">About Us!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-dark btn-flat backcolor-secondary-scheme"><b class="white-text">Exit</b></a>
            </div>
        </div>
	</header>

	<main>
        <div class="center">
            {% if messages %}
            {% for message in messages %}
                <div style="background-color: green; color: white"> {{ message }} </div>
            {% endfor %}
            {% endif %}
        </div>
		{% block content %}
        {% endblock content %}
	</main>

	<footer class="page-footer fixed-bottom z-depth-3 backcolor-primary-scheme">
     	<div class="container">
	        <div class="row">
	          <div class="col l6 s12">
	            <h5 class="white-text">UnveilSale</h5>
	            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
	          </div>
	          <div class="col l4 offset-l2 s12">
	            <h5 class="white-text">Contact Us</h5>
	            <ul>
	              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
	              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
	              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
	              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
	            </ul>
	          </div>
	        </div>
      	</div>
      	<div class="footer-copyright">
	        <div class="container">
	        Copyright © 2020 Pavittar Singh. All Rights Reserved
<!--	        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
	        </div>
      	</div>
    </footer>

	<script type="text/javascript" src="{% static 'javascript/merifile.js' %}" async></script>
	<script type="text/javascript" src="{% static 'javascript/minimum.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/merifileTWO.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/bookmark.js' %}"></script>
    {% block scripts %} {% endblock scripts %}
</body>
</html>

