{% extends 'Home/base.html' %}
{% load static %}

{% block header %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
{% endblock header %}

{% block content %}
    <br><h4 class="center container donation-display"></h4>
    <section class="section container center">
        <div class="row">
            <div class="col s12 l10 m12 offset-l1">
                <div class="card-panel">
<!--                    <script src="https://js.stripe.com/v3/"></script>-->

                    <form method="post">
                        {% csrf_token %}

                        <div class="input-field">
                            <i class="material-icons prefix color-primary-scheme">attach_money</i>
                            <input type="text" name="amount" required id="amount" class="donation-amount">
                            <span class="tooltipped helptext" data-position="top" data-tooltip="
                            <ul>
                            <li>1.   Enter the amount you would like to donate.</li>
                            <li>2.   We only accept whole number donations at the moment!</li>
                            <li>3.   Any decimal donation made will be round up or down accordingly.</li>
                            <li>4.49 will be rounded to 4.</li>
                            <li>4.51 will be rounded to 5.</li>
                            <li>4.   Donation example: By entering 5 you are donating 5 USD.</li>
                            <li>5.   Please keep in mind that donations will not be refunded.</li>
                            </ul>">
                                <a class="btn-flat white-text backcolor-secondary-scheme center">IMPORTANT!</a>
                            </span>
                            <label for="amount">Amount: (Please read IMPORTANT! below)</label>
                        </div>

                        <div class="input-field col s6 m6 l6">
                            <i class="material-icons prefix color-primary-scheme">sentiment_very_satisfied</i>
                            <input type="text" name="name" value="{{ user.first_name }} {{ user.last_name }}" maxlength="50" required id="id_first_name">
                            <span class="tooltipped helptext" data-position="top" data-tooltip="Enter Full Name">
                                <i class="material-icons color-secondary-scheme">info</i>
                            </span>
                            <label for="id_first_name">Full Name:</label>
                        </div>


                        <div class="input-field col s6 m6 l6">
                            <i class="material-icons prefix color-primary-scheme">email</i>
                            <input type="email" name="email" value="{{ user.email }}" required id="id_email">
                            <span class="tooltipped helptext" data-position="top" data-tooltip="Enter a valid Email Address">
                                <i class="material-icons color-secondary-scheme">info</i>
                            </span>
                            <label for="id_email">Email:</label>
                        </div>

                        <br>

                        <!-- Set up a container element for the button -->
                        <div class="center" id="paypal-button-container"></div>

                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AVumWUAy6aBOrHICecV5aAOoUvTfMOb5xVu98JmGN24mCDkb2-Ao1cH4vcH0uhJ4YCczSniKTkTbVq0n&currency=USD&disable-funding=credit"></script>

    <script>
        var inputBox = document.querySelector('.donation-amount');
        var total = ""
        inputBox.onkeyup = function(){
            document.querySelector('.donation-display').innerHTML = + inputBox.value;
            total = document.querySelector('.donation-display').innerHTML;
            console.log(total)
            if (total === "Donation Amount: ") {
                document.querySelector('.donation-display').innerHTML = ""
            }
        }

        function donationComplete(){
            var url = '{% url 'donationdata' %}'
            var fullName = document.getElementById('id_first_name').value
            var email = document.getElementById('id_email').value

            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({'Full Name': fullName, 'Email': email, 'Total': total})
            })

            .then((response) =>{
                return response.json()
            })
        }



        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color: 'gold',
                shape: 'pill',
                label: 'pay',
                size: 'responsive',
            },


            // Set up the transaction
            createOrder: function(data, actions, donation) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    donationComplete()
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    location.href="{% url 'donationsuccessful' %}"
                });
            }


        }).render('#paypal-button-container');
    </script>

{% endblock content %}
<!--{% block scripts %}-->
<!--    <script type="text/javascript" src="{% static 'javascript/stripe.js' %}"></script>-->
<!--{% endblock scripts %}-->
