{% extends 'Home/base.html' %}
{% load static %}

{% block content %}
    <div class="center container ">
        <h4>Thank you {{ user.first_name }} {{ user.last_name }} for contributing ${{amount}}!</h4>
        <p>Your support helps me fulfill my dream of teaching aspiring developers around the world! You should receive a receipt to the email you provided shortly :)</p>
        <hr>
        <a class="btn-flat white-text backcolor-secondary-scheme center waves-effect waves-dark" href="{% url 'homepage' %}">Back to donation page</a>
    </div>
{% endblock content %}