{% extends 'Home/base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stripe.css' %}">
{% endblock header %}

{% block content %}

    <script src="https://js.stripe.com/v3/"></script>


    <section class="section container center">
        <div class="row">
            <div class="col s12 l10 m12 offset-l1">
                <div class="card-panel">
                    <script src="https://js.stripe.com/v3/"></script>

                    <form action="{% url 'donationcharge' %}" method="post" id="payment-form">
                        {% csrf_token %}

                        <div class="input-field">
                            <i class="material-icons prefix color-primary-scheme">attach_money</i>
                            <input type="text" name="amount" required id="amount">
                            <span class="tooltipped helptext" data-position="top" data-tooltip="
                            <ul>
                            <li>1.   Enter the amount you would like to donate.</li>
                            <li>2.   We only accept whole number donations at the moment!</li>
                            <li>3.   Any decimal donation made will be round up or down accordingly.</li>
                            <li>4.49 will be rounded to 4.</li>
                            <li>4.51 will be rounded to 5.</li>
                            <li>4.   Donation example: By entering 5 you are donating 5 USD.</li>
                            <li>5.   Please keep in mind that donations will not be refunded.</li>
                            </ul>">
                                <a class="btn-flat white-text backcolor-secondary-scheme center">IMPORTANT!</a>
                            </span>
                            <label for="amount">Amount: (Please read IMPORTANT! below)</label>
                        </div>

                        <div class="input-field col s6 m6 l6">
                            <i class="material-icons prefix color-primary-scheme">sentiment_very_satisfied</i>
                            <input type="text" name="name" value="{{ user.first_name }} {{ user.last_name }}" maxlength="50" required id="id_first_name">
                            <span class="tooltipped helptext" data-position="top" data-tooltip="Enter Full Name">
                                <i class="material-icons color-secondary-scheme">info</i>
                            </span>
                            <label for="id_first_name">Full Name:</label>
                        </div>


                        <div class="input-field col s6 m6 l6">
                            <i class="material-icons prefix color-primary-scheme">email</i>
                            <input type="email" name="email" value="{{ user.email }}" required id="id_email">
                            <span class="tooltipped helptext" data-position="top" data-tooltip="Enter a valid Email Address">
                                <i class="material-icons color-secondary-scheme">info</i>
                            </span>
                            <label for="id_email">Email:</label>
                        </div>


                        <div class="form-row">
                            <label for="card-element">
                            Credit or debit card
                            </label>
                            <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>

                        <br>

                        <button class="btn-flat white-text backcolor-secondary-scheme center waves-effect waves-dark" type="submit">Donate</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'javascript/stripe.js' %}"></script>
{% endblock scripts %}