{% extends 'Home/base.html' %}
{% load static %}


{% block modal %}
	<li><a class="waves-effect waves-dark modal-trigger btn-flat white-text backcolor-secondary-scheme" data-target="trending" title="Trending">Trending<i class="material-icons left" >trending_up</i></a></li>
{% endblock modal %}
{% block sidemodal %}
	<li><a class="waves-effect waves-dark modal-trigger" href="#trending" title="Trending"><i class="material-icons" >trending_up</i>Trending</a></li>
{% endblock sidemodal %}
{% block trending %}
	<!-- Trending Modal Structure -->
	<div id="trending" class="modal modal-trending modal-fixed-footer">
		<div class="modal-content">
			<span class="header center"><h3 class="cart-total-price">Popular Searches</h3></span>
			<div class="collection">
				{% for topten in topten %}
					<div class='collection-item avatar'>
						<div>
							<h5 class="center container left card-title">{{ forloop.counter }}. {{ topten.Search_value }}</h5>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="modal-footer">
			<button class="modal-close waves-effect waves-dark btn-flat backcolor-secondary-scheme"><b class="white-text">Exit</b></button>
		</div>
	</div>
{% endblock %}


{% block content %}
		<div id='homepreloaderid'>
        </div>

		<div id="donations">
        </div>

		<div class="mainhomecontent">

			<!-- Slider -->
			<div class="slider">
				<ul class="slides">
				  <li>
					<img src="{% static 'images/balloon.jpg' %}"> <!-- random image -->
					<div class="caption center-align">
					  <h3>Welcome to UnveilSale!!</h3>
					  <h5 class="light grey-text text-lighten-3 hide-on-small-only">Where finding the best deal and saving money has never been made easier!</h5>
					</div>
				  </li>
				  <li>
					<img src="{% static 'images/fire.jpg' %}"> <!-- random image -->
					<div class="caption center-align">
					  <h3>Left Aligned Caption</h3>
					  <h5 class="light grey-text text-lighten-3 hide-on-small-only">Here's our small slogan.</h5>
					</div>
				  </li>
				  <li>
					<img src="{% static 'images/lion.jpg' %}"> <!-- random image -->
					<div class="caption center-align">
					  <h3>Right Aligned Caption</h3>
					  <h5 class="light grey-text text-lighten-3 hide-on-small-only">Here's our small slogan.</h5>
					</div>
				  </li>
				  <li>
					<img src="{% static 'images/ocean.jpg' %}"> <!-- random image -->
					<div class="caption center-align">
					  <h3>This is our big Tagline!</h3>
					  <h5 class="light grey-text text-lighten-3 hide-on-small-only">Here's our small slogan.</h5>
					</div>
				  </li>
				</ul>
			</div>

			<br>
			<div class="divider container"></div>

			<!-- Search Bar -->
			<div>
				<form class="container section white-text center" method="POST" action="{% url 'searchpage' %}">
					{% csrf_token %}
					<div class="row">
						<div class="col s12 l10 m12 offset-l1">
							<div class="input-field">
								<i class="material-icons prefix color-primary-scheme">search</i>
								<input type="text" name="search" class="autocomplete z-depth-3" id="autocomplete-input">
								<button onclick="homepreloader()" class="btn waves-effect waves-light backcolor-primary-scheme" type="submit" name="action">Search
								  <i class="material-icons right">search</i>
								</button>
								<label for="autocomplete-input">Search:</label>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="divider container"></div>


			<div class="section section-icons container">
				<div class="row">
					{% for tier1 in tier1s %}
						<div class="col s12 m6 l4">
						<div class="card hoverable">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="{{ tier1.image_url }}">
							</div>
							<div class="card-content">
								<a href="{{ tier1.redirect_url }}" target="_blank" class="card-title activator">{{ tier1.header }}</a>
								<span>{{ tier1.front_content }}</span>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">{{ tier1.header }}<i class="material-icons right">close</i></span>
								<div class="divider"></div><br>
								<div class="center">{{ tier1.hidden_content }}</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
{% endblock content %}

{% block scripts %}
	<script type="text/javascript">
		function homepreloader() {
			document.getElementById("homepreloaderid").innerHTML =
			`<div class="container row">
				<div class="col s12 m3 l2"></div>
				<div class="col s12 m6 l8">
					<h6 class="center container preloaderheader">Please wait while we gather your results</h6>
					<h6 class="center container preloaderrightsnotice">
						All rights of the product belong to the redirected seller.
					</h6>
					<div class="prodiv">
						<div class="proind"></div>
					</div>
				</div>
				<div class="col s12 m3 l2"></div>
			</div>`;

			document.getElementById("donations").innerHTML =
			`<div class="donations container row">
				<div class="col m12 s12 l8 offset-l2">
					<!-- Promo 2 -->
					<div class="center card-panel z-depth-2 hoverable donation-card">
						<i class="large material-icons color-secondary-scheme">attach_money</i>
						<h5>Support UnveilSale</h5>
						<div class="light center hide-on-small-only">
							While you wait, please consider supporting UnveilSale by contributing to its development.
							All donations will go towards our development. Click the button below to learn more.
							Thank You for supporting UnveilSale!
						</div>
						<button style="margin-top: 12px;" class="btn-flat white-text backcolor-secondary-scheme center waves-effect waves-dark" type="submit">
							<a href="{% url 'donations' %}" target="_blank" class="white-text"> Donate </a>
						</button>
					</div>
				</div>
            </div>`;



			document.querySelector('.mainhomecontent').style.display='none';
			document.querySelector('.prodiv').classList.add('progress');
			document.querySelector('.proind').classList.add('indeterminate');
			document.querySelector('.preloaderheader').style.display='block';
			document.getElementById('donations').style.display='block';
			document.querySelector('.preloaderrightsnotice').style.display='block';
			setTimeout(function(){ document.querySelector('.prodiv').classList.remove('progress');
			document.querySelector('.proind').classList.remove('indeterminate');
			document.querySelector('.mainhomecontent').style.display='block';
			document.querySelector('.preloaderrightsnotice').style.display='none';
			document.querySelector('.preloaderheader').style.display='none';
			},30000);
		}
	</script>
{% endblock scripts %}