{% extends 'Home/base.html' %}

{% block content %}
		<div class="center error-message">
			{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
					<div class="center" style="background-color: red; color: white"> {{ error }} </div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="divider container"></div>

		<!-- Login Form -->
		<section class="section container center">
            <div class="row">
                <div class="col s12 l10 m12 offset-l1">
                    <div class="card-panel z-depth-2 hoverable">
                        <form method="POST">
							{% csrf_token%}
                            <h5 class="center registerformheader">Login</h5>
                            <div class="divider"></div>
                            <br>

							<div class="container">

								<div class="input-field">
                                    <i class="material-icons prefix color-primary-scheme">email</i>
                                    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="100" required id="id_username">
									<span class="tooltipped helptext" data-position="left" data-tooltip="Enter a valid email address.">
				    					<i class="material-icons prefix color-secondary-scheme">info</i>
				    				</span>
                                    <label for="id_username">Email:</label>
                                </div>

								<div class="input-field">
									<i class="material-icons prefix color-primary-scheme">lock</i>
									<input type="password" name="password" autocomplete="current-password" required id="id_password">
									<span class="tooltipped helptext" data-position="left" data-tooltip="Enter a valid password.">
				    					<i class="material-icons prefix color-secondary-scheme">info</i>
				    				</span>
									<label for="id_password">Password:</label>
								</div>

							</div>

							<div class="card-action">
								<ul>
									<li><button class="btn-flat white-text backcolor-secondary-scheme center waves-effect waves-dark" type="submit">Login</button></li><br>
									<li>Need An Account?<a href="{% url 'registerpage' %}">  Sign Up</a></li>
									<li><a href="{% url 'password_reset' %}">Forgot Password?</a></li>
								</ul>
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

		<div class="divider container"></div>
{% endblock content %}