{% extends 'Home/base.html' %}

{% block content %}
		<!-- Password Reset Request -->
		<section class="section container center">
            <div class="row">
                <div class="col s12 l10 m12 offset-l1">
                    <div class="card-panel z-depth-2 hoverable">
                        <form method="POST">
							{% csrf_token%}
                            <h5 class="center card-title registerformheader">Reset Password</h5>
                            <div class="divider"></div>
                            <br>

							<div class="container">

								<div class="input-field">
                                    <i class="material-icons prefix color-primary-scheme">email</i>
                                    <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
                                    <span class="tooltipped helptext" data-position="left" data-tooltip="Enter the email address you signed up with.">
				    					<i class="material-icons prefix color-secondary-scheme">info</i>
				    				</span>
                                    <label for="id_email">Email:</label>
                                </div>

							</div>

							<div class="card-action">
								<ul>
									<li><button class="btn-flat white-text backcolor-secondary-scheme center waves-effect waves-dark" type="submit">Request Reset</button></li><br>
								</ul>
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

		<div class="divider container"></div>
{% endblock content %}