{% extends 'Home/base.html' %}

{% block content %}
		<div class="center error-message">
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="center" style="background-color: red; color: white"> {{ error }} </div>
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>
		<div class="divider container"></div>

		<!-- Password Reset Request -->
		<section class="section container center">
            <div class="row">
                <div class="col s12 l10 m12 offset-l1">
                    <div class="card-panel z-depth-2 hoverable">
                        <form method="POST">
							{% csrf_token%}
                            <h5 class="center card-title registerformheader">Reset Password</h5>
                            <div class="divider"></div>
                            <br>

							<div class="container">

                                <div class="input-field">
									<i class="material-icons prefix color-primary-scheme">lock</i>
									<input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
									<span class="tooltipped helptext" data-position="left" data-tooltip="<ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>">
				    					<i class="material-icons prefix color-secondary-scheme">info</i>
				    				</span>
									<label for="id_new_password1">New password:</label>
								</div>

                                <div class="input-field">
									<i class="material-icons prefix color-primary-scheme">lock</i>
									<input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
									<span class="tooltipped helptext" data-position="left" data-tooltip="Enter the same password for confirmation">
				    					<i class="material-icons prefix color-secondary-scheme">info</i>
				    				</span>
									<label for="id_new_password2">New password confirmation:</label>
								</div>


							</div>

							<div class="card-action">
								<ul>
									<li><button class="btn-flat white-text backcolor-secondary-scheme center waves-effect waves-dark" type="submit">Reset Password</button></li><br>
								</ul>
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

		<div class="divider container"></div>
{% endblock content %}