{% extends 'Home/base.html' %}

{% block content %}
		<div class="divider container"></div>

		<section class="section container center">
            <div class="row">
                <div class="col s12 l10 m12 offset-l1">
                    <div class="card-panel z-depth-2 hoverable">
                        <h5 class="center card-title registerformheader">Password Reset Request Sent</h5>
                        <br>
                        <div class="card-action">
                            <div><h6>Check your email to continue. If an email does not appear, make sure it is not in your spam.</h6></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<div class="divider container"></div>

{% endblock content %}