{% extends 'Home/base.html' %}

{% block content %}
		<div class="divider container"></div>

		<section class="section container center">
            <div class="row">
                <div class="col s12 l10 m12 offset-l1">
                    <div class="card-panel z-depth-2 hoverable">
                        <h5 class="center card-title registerformheader">Password Reset Successful</h5>
                        <br>
                        <div class="card-action">
                            <div>Your account password has been reset!</div>
                            <div><a href="{% url 'loginpage' %}">Login</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<div class="divider container"></div>

{% endblock content %}