{% extends 'Home/base.html' %}

{% block modal %}
	<div class="center error-message">
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="center" style="background-color: red; color: white"> {{ error }} </div>
				{% endfor %}
			{% endfor %}
		{% endif %}
	</div>
	<div class="divider container"></div>

	<div id="profilesettings" class="modal modal-fixed-footer">
		<div class="modal-content">
			<span class="header center"><h3>Update Profile</h3></span>
			<div class="section container center">
				<div class="row">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token%}
						<div class="divider"></div>
						<br>
						<div>
<!--							<div class="input-field">-->
<!--								<i class="material-icons prefix color-primary-scheme">email</i>-->
<!--								<input type="email" name="email" value="{{ user.email }}" required id="id_email">-->
<!--								<span class="tooltipped helptext" data-position="bottom" data-tooltip="Enter your new email.">-->
<!--									<i class="material-icons color-secondary-scheme">info</i>-->
<!--								</span>-->
<!--								<label for="id_email">Email:</label>-->
<!--							</div>-->

							<div class="input-field">
								<i class="material-icons prefix color-primary-scheme">account_box</i>
								<input type="text" name="username" value="{{ user.username }}" maxlength="30" required id="id_username">
								<span class="tooltipped helptext" data-position="top" data-tooltip="Enter your new username.">
									<i class="material-icons color-secondary-scheme">info</i>
								</span>
								<label for="id_username">Username:</label>
							</div>

							<div class="input-field">
								<i class="material-icons prefix color-primary-scheme">image</i>
								<input type="file" name="image" accept="image/*" id="id_image">
								<span class="tooltipped helptext" data-position="bottom" data-tooltip="Upload your new profile picture.">
									<i class="material-icons color-secondary-scheme">info</i>
								</span>
								<label for="id_image"></label>
							</div>
						</div>
						<br>
						<div class="divider"></div>
						<br>
						<button class="btn-flat white-text backcolor-primary-scheme center waves-effect waves-dark" type="submit">Save Changes</button><br>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="modal-close waves-effect waves-dark btn-flat backcolor-secondary-scheme"><b class="white-text">Exit</b></button>
		</div>
	</div>
{% endblock modal %}

{% block content %}
		<div class="container">
            <div class="row">
			    <div class="col s12 m12 l12">
				    <div class="card horizontal">
						<a class="waves-effect waves-dark modal-trigger btn-flat white-text backcolor-secondary-scheme" href="#profilesettings" title="Trending"><i class="material-icons" >settings</i></a>
				      <div class= "col s4 m4 l4">
				        <img src="{{ user.profile.image.url }}" alt="" class="circle responsive-img">
				      </div>
				      <div class="card-stacked col s8 m8 l8">
				        <div class="card-content">
							<div>
				          		<div class="center card-title container">{{ user.first_name }} {{ user.last_name }}</div>
								<div class="center">Email: {{ user.email }}</div>
								<br>
								<div class="divider container"></div>
								<div class="center">
									<div class="center container">Recent Searches:</div>
									{% for recent in recents %}
										<div class="center container">{{ recent.Search_value }}</div>
									{% endfor %}
								</div>
							</div>
				        </div>
					   	<div class="card-footer">
							<div class="card-action">
							</div>
						</div>
				      </div>
				    </div>
			  	</div>
		  	</div>
        </div>
		<div class="divider container"></div>
{% endblock content %}